 <!-- Sidebar Area Start Here -->
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color"
            
            style=" overflow-x: hidden; height:180vh;
            
            white-space: nowrap;   overflow-y: scroll;   background: transparent !important;">

                
               <div class="mobile-sidebar-header d-md-none">
                   
               </div>

             <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">

                        <li class="nav-item ">
                            <a href="/admin/dashboard" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                           

                            <li class="nav-item">
                                <a href="/admin/get/notice-board" class="nav-link"><i
                                        class="flaticon-script"></i><span>Online Notice Board</span></a>
                            </li>



                      

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/all/students" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Students</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="/admin/get/student" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Admission Form</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-multiple-users-silhouette"></i><span>Teachers</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/all/teachers" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Teachers</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a href="/admin/get/teacher" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Teacher</a>
                                </li>
                                
                            </ul>
                        </li>
                        
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-couple"></i><span>Parents</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/all/parents" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Parents</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a href="/admin/get/parent" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Parent</a>
                                </li>
                            </ul>
                        </li>
                       
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-technological"></i><span>Account</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/all/fees-collection" class="nav-link"><i class="fas fa-angle-right"></i>All Fees
                                        Collection</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/get/all/expenses" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Expenses</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/get/expense" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Expenses</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/all/class" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/get/class" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Class + Section</a>
                                </li>
                            </ul>
                        </li>



                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-open-book"></i><span>Subject</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/assign/subject" class="nav-link"><i class="fas fa-angle-right"></i>
                                        Assign Subject</a>
                                </li>
                                
                            </ul>
                        </li>


                        
                        <li class="nav-item">
                            <a href="/admin/get/class-time-table" class="nav-link"><i class="flaticon-calendar"></i><span>Class
                                    Time Table <Table></Table></span></a>
                        </li>
             
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/admin/get/all/exam" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                        Date Sheet</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/get/all/exam-grade" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                        Grades</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                        <a href="/admin/get/application-approval" class="nav-link"><i
                            class="flaticon-checklist"></i><span>Online Application</span></a>
                        </li>


                       

                           <li class="nav-item">
                            <a href="/admin/get/all-message" class="nav-link"><i
                                    class="flaticon-chat"></i><span>All Messeage</span></a>
                        </li>

                        <li class="nav-item">
                            <a href="/admin/message" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Messeage</span></a>
                        </li>

                   
                        <li class= "nav-item">
                             <a href="/admin/get/complaint" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Complaint Managment</span></a>
                        </li>
                   
                       
                        <li class="nav-item">
                            <a href="/admin/get/access-account" class="nav-link"><i
                                    class="flaticon-settings"></i><span>Add Accounts</span></a>

                                    <li class="nav-item">
                                        <a href="/admin/get/dmc-issue" class="nav-link"><i
                                                class="flaticon-checklist"></i><span>Degree/DMC Issue</span></a>
                                    </li>
            
                        </li>

                          <li class="nav-item">
                                    <li class="nav-item">
                                        <a href="/admin/get/dmc" class="nav-link"><i
                                        class="flaticon-checklist"></i><span>ADD Degree/DMC Issue</span></a>
                                    </li>
                            </li>

                        
                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
