<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color" style=" overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;   overflow-y: scroll;   background: transparent !important;">

                
               <div class="mobile-sidebar-header d-md-none">
                   
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item">
                            <a href="/parent/profile" class="nav-link"><i
                                    class="flaticon-user"></i><span>Profile</span></a>
                        </li>

                        <li class="nav-item ">
                            <a href="/parent/dashboard1" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                           

                            <li class="nav-item">
                                <a href="/parent/dashboard1" class="nav-link"><i
                                        class="flaticon-script"></i><span>Kids Details</span></a>
                            </li>

                              <li class="nav-item">
                                <a href="/parent/kids/attendence" class="nav-link"><i
                                        class="flaticon-script"></i><span>Kids Attendance</span></a>
                            </li>

                               <li class="nav-item">
                            <a href="/parent/get/all-message" class="nav-link"><i
                                    class="flaticon-chat"></i><span>All Messeage</span></a>
                        </li>
                              <li class="nav-item">
                                <a href="/parent/message" class="nav-link"><i
                                        class="flaticon-script"></i><span>Message</span></a>
                            </li>
                         
        
  
                            <li class="nav-item">
                                <a href="/parent/kids/homework" class="nav-link"><i
                                        class="flaticon-checklist"></i><span>Home Work</span></a>
                            </li>
                             <li class="nav-item">
                                <a href="/parent/kids/exam" class="nav-link"><i
                                        class="flaticon-checklist"></i><span>Exam</span></a>
                            </li>
             
                        <li class="nav-item ">
                            <a href="/parent/dashboard1" class="nav-link"><i class="flaticon-shopping-list"></i><span>Result</span></a>
                           
                        </li>
                         <li class="nav-item ">
                            <a href="/parent/all/hostel" class="nav-link"><i class="flaticon-shopping-list"></i><span>Hostel</span></a>
                           
                        </li>

                 


                      
                   
                        <li class="nav-item">
                            <a href="/parent/complaint" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Add Complaint</span></a>
                        </li>
                          <li class="nav-item">
                            <a href="/parent/all/complaint" class="nav-link"><i
                                    class="flaticon-chat"></i><span>View Complaint</span></a>
                        </li>
                   
                       
                      
                    </ul>
                </div>
            </div>