   <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color" style=" overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;   overflow-y: scroll;   background: transparent !important;">

                
               <div class="mobile-sidebar-header d-md-none">
                   
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item">
                            <a href="/student/profile" class="nav-link"><i
                                    class="flaticon-user"></i><span>Profile</span></a>
                        </li>

                        <li class="nav-item ">
                            <a href="/student/dashboard" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                           

                            <li class="nav-item">
                                <a href="/student/notice-board" class="nav-link"><i
                                        class="flaticon-script"></i><span>Online Notice Board</span></a>
                            </li>



  
                            <li class="nav-item">
                                <a href="/student/home-work" class="nav-link"><i
                                        class="flaticon-checklist"></i><span>Home Work</span></a>
                            </li>
                           

                             
                              <li class="nav-item">
                                <a href="/student/exam-schedule" class="nav-link"><i
                                 class="flaticon-checklist"></i><span>Exam Schedule</span></a>
                            </li>
                              <li class="nav-item">
                                <a href="/student/exam-grade" class="nav-link"><i
                                 class="flaticon-checklist"></i><span>Exam Grade</span></a>
                            </li>
                               <li class="nav-item">
                            <a href="/student/get/all-message" class="nav-link"><i
                                    class="flaticon-chat"></i><span>All Messeage</span></a>
                        </li>
                             <li class="nav-item">
                                <a href="/student/message" class="nav-link"><i
                                        class="flaticon-script"></i><span>Message</span></a>
                            </li>

                        
                        <li class="nav-item">
                            <a href="/student/attendence" class="nav-link"><i class="flaticon-calendar"></i>
                                <span>Attendance
                                 <Table></Table></span></a>
                        </li>
             
                        <li class="nav-item ">
                            <a href="/student/get/result" class="nav-link"><i class="flaticon-shopping-list"></i><span>Result</span></a>
                           
                        </li>

                        <li class="nav-item">
                        <a href="/student/online-application" class="nav-link"><i
                            class="flaticon-checklist"></i><span>Online Application </span></a>
                </li>



                      
                      
                        <li class="nav-item">
                            <a href="/student/complain" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Add Complaint</span></a>
                        </li>
                   
                       
                      
                    </ul>
                </div>
            </div>