<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color"
            
            style=" overflow-x: hidden; height:250vh;
            
            white-space: nowrap;   overflow-y: scroll;   background: transparent !important;">
                
               <div class="mobile-sidebar-header d-md-none">
                   
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item">
                            <a href="/teacher/profile" class="nav-link"><i
                                    class="flaticon-user"></i><span>Profile</span></a>
                        </li>

                        <li class="nav-item ">
                            <a href="/teacher/dashboard" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                           

                            <li class="nav-item">
                                <a href="/teacher/notice-board" class="nav-link"><i
                                        class="flaticon-script"></i><span>Online Notice Board</span></a>
                            </li>
  
                            <li class="nav-item">
                                <a href="/teacher/home-work" class="nav-link"><i
                                        class="flaticon-checklist"></i><span>All Home Work For Student</span></a>
                            </li>                      
                              <li class="nav-item">
                                <a href="/teacher/get/home-work" class="nav-link"><i
                                        class="flaticon-checklist"></i><span>Add Home Work For Student</span></a>
                            </li> 

                        
                        <li class="nav-item">
                            <a href="/teacher/student/attendence" class="nav-link"><i class="flaticon-calendar"></i>
                                <span>Student Attendance
                                 <Table></Table></span></a>
                        </li>
                          <li class="nav-item">
                            <a href="/teacher/get/add/attendence" class="nav-link"><i class="flaticon-calendar"></i>
                                <span>Add Student Attendance
                                 <Table></Table></span></a>
                        </li>
             
                        <li class="nav-item ">
                            <a href="/teacher/get/add/result" class="nav-link"><i class="flaticon-shopping-list"></i><span>Result</span></a>
                           
                        </li>
                        <li class="nav-item ">
                            <a href="/teacher/post/add/result" class="nav-link"><i class="flaticon-shopping-list"></i><span>Add Result</span></a>
                           
                        </li>
                           <li class="nav-item">
                            <a href="/teacher/get/all-message" class="nav-link"><i
                                    class="flaticon-chat"></i><span>All Messeage</span></a>
                        </li>
                         <li class="nav-item">
                                <a href="/teacher/message" class="nav-link"><i
                                        class="flaticon-script"></i><span>Message</span></a>
                            </li>

                        <li class="nav-item">
                        <a href="/teacher/online-application" class="nav-link"><i
                            class="flaticon-checklist"></i><span>Online Application </span></a>
                       </li>
                            <li class="nav-item">
                        <a href="/teacher/get/online-application" class="nav-link"><i
                            class="flaticon-checklist"></i><span>Add Online Application </span></a>
                         </li>



                        <li class="nav-item">
                            <a href="/teacher/complain" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Complaint</span></a>
                        </li>   
                   
                        <li class="nav-item">
                            <a href="/teacher/get/complain" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Add Complaint</span></a>
                        </li>
                   
                       
                      
                    </ul>
                </div>
            </div>